@model List<Blank.Models.Views.MainPage>


<header>
    <link rel="stylesheet" href="~/css/site.css" />
</header>

<div class="table-container">

    <table class="rounded-table">
        <thead>
            <tr>
                <td>Порядковый номер</td>
                <td>Тип</td>
                <td>Номер документа</td>
                <td>Дата создания</td>
                <td>Грузоотправитель</td>
                <td>Перевозчик</td>
                <td>Грузополучатель</td>
                <td>Пункт погрузки</td>
                <td>Пункт разгрузки</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var doc in Model)
            {
                <tr>
                    <td>@doc.ид_документа</td>
                    <td>@doc.тип</td>
                    <td>@doc.номер_документа</td>
                    <td>@doc.дата_создания.ToShortDateString()</td>
                    <td>@doc.грузоотправитель</td>
                    <td>@doc.перевозчик</td>
                    <td>@doc.грузополучатель</td>
                    <td>@doc.пункт_погрузки</td>
                    <td>@doc.пункт_разгрузки</td>
                </tr>
            }
        </tbody>
    </table>
</div>