@model List<Blank.Models.Views.MainPage>


<header>
    <link rel="stylesheet" href="~/css/site.css" />
</header>

<div class="table-container">

    <table class="rounded-table">
        <thead>
            <tr>
                <td>ид_документа</td>
                <td>тип</td>
                <td>номер_документа</td>
                <td>дата_создания.ToShortDateString()</td>
                <td>грузоотправитель</td>
                <td>грузополучатель</td>
                <td>ид_пользователя</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var doc in Model)
            {
                <tr>
                    <td>@doc.ид_документа</td>
                    <td>@doc.тип</td>
                    <td>@doc.номер_документа</td>
                    <td>@doc.дата_создания.ToShortDateString()</td>
                    <td>@doc.грузоотправитель</td>
                    <td>@doc.грузополучатель</td>
                    <td>@doc.ид_пользователя</td>
                </tr>
            }
        </tbody>
    </table>
</div>